@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: green;
  margin: 0;
}
#card-container {
  margin-top: 100px;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.card .suit {
  position: absolute;
}

.card .suit.top-left {
  top: 5px;
  left: 5px;
  font-size: 1em;
}

.card .suit.bottom-right {
  bottom: 10px;
  right: 10px;
  font-size: 1em;
  transform: rotate(3.142rad);
}
.red {
  color: red;
}

.black {
  color: black;
}
#btnCard {
  margin: 20px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}
